* {
  background: black;
  color: seashell;
}

body {
  margin: 0;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cake-selection {
  display: flex;
  justify-content: center;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 35%, rgba(17,17,17,1) 65%, rgba(0,0,0,1) 100%);
  width: 100%;
}

.imagegrid-container {
  display: flex;
  justify-content: center;
  background: black;
  width: 100%;
}